@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html, body {
    height: 98%;
    position: relative;
}

#wrapper {
    height: 98%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: white;
}

header img {
    display: flex;
    margin: auto;
    width: auto;
    height: 80%;
}

header h1 {
    display: flex;
    margin: auto;
    font-family: 'Sansita Swashed', cursive;
}

hr {
    border: none;
    width: 90%;
    height: 8%;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin-top: -2%;
}

@media (max-height: 700px) {
    header {
        flex-direction: column;
    }

    header h1 {
        font-size: 2em;
    }

    hr {
        margin-top: 3%;
    }
}

@media (max-width: 350px) {
    header h1 {
        font-size: 1em;
    }
}

section {
    height: 100%;
}

section h2 {
    text-align: center;
    font-family: 'Courgette', cursive;
}

section p {
    text-align: center;
    font-family: 'Courgette', cursive;
}

#clock {
    font-family: 'Sansita Swashed', cursive;
    color: #009688;
    font-size: 3.5em;
    text-align: center;
}
